Hud {
    pointer-events: none;

    .pointer-visible {
        pointer-events: all;
    }

    &.camera-movement {
        .pointer-visible {
            pointer-events: none;
        }
    }

    .header {
        left: 128px;
        top: 128px;
        flex-direction: column;

        label {
            font-family: Roboto;
            color: white;
            font-size: 32px;

            &.subtitle {
                font-size: 16px;
            }
        }
    }

    table {
        display: flex;
        flex-direction: column;

        tr {
            display: flex;
            flex-direction: row;

            th, td {
                label {
                    width: 100%;
                }
            }
        }
    }

    table.users-list {
        position: absolute;
        top: 50px;
        left: 50px;
        padding: 8px;
        background-color: orange;
        color: white;
        font-weight: 600;

        tr {
            margin-top: 6px;
            border-top: 1px solid white;
            padding-top: 6px;

            &:first-child {
                margin-top: 0;
                border-top: 0;
            }

            td, th {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            th {
                font-size: 54px;
                margin-bottom: 10px;
            }

            td {
                font-size: 30px;
            }
            // Player name
            :nth-child(1) {
                width: 500px;
            }
            // Oranges
            :nth-child(2) {
                width: 200px;

                label {
                    text-align: right;
                }
            }
        }
    }
}
