Hud {
    pointer-events: none;

    .pointer-visible {
        pointer-events: all;
    }

    &.camera-movement {
        .pointer-visible {
            pointer-events: none;
        }
    }

    .header {
        left: 128px;
        top: 128px;
        flex-direction: column;

        label {
            font-family: Roboto;
            color: white;
            font-size: 32px;

            &.subtitle {
                font-size: 16px;
            }
        }
    }

    table {
        display: flex;
        flex-direction: column;

        tr {
            display: flex;
            flex-direction: row;

            th, td {
                label {
                    width: 100%;
                }
            }
        }
    }

    table.users-list {
        position: absolute;
        top: 50px;
        left: 50px;
        background-color: orange;
        color: white;
        font-weight: 600;

        tr {
            td, th {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            th {
                padding: 12px 0;
                font-size: 54px;
            }

            td {
                padding: 4px 0;
                font-size: 30px;
            }
            // Player name
            :nth-child(1) {
                margin-left: 8px;
                width: 500px;
            }
            // Oranges
            :nth-child(2) {
                margin-right: 8px;
                width: 200px;

                label {
                    text-align: right;
                }
            }

            td {
                border-top: 1px solid white;
            }

            &.current {
                border-top: 0;
                color: orange;
                background-color: white;
            }

            &.after-current td {
                border-top: 0;
            }
        }
    }

    .orange-bag {
        position: absolute;
        bottom: 30px;
        right: 30px;
        font-size: 70px;
        font-family: Roboto;
        color: white;
        text-stroke: 10px black;
    }
}
