Hud {
    pointer-events: none;
    font-family: Roboto;

    .pointer-visible {
        pointer-events: all;
    }

    &.camera-movement {
        .pointer-visible {
            pointer-events: none;
        }
    }

    .header {
        left: 128px;
        top: 128px;
        flex-direction: column;

        label {
            color: white;
            font-size: 32px;

            &.subtitle {
                font-size: 16px;
            }
        }
    }

    .game-states-view {
        position: absolute;
        top: 60px;
        right: 60px;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        .game-states-header {
            margin-bottom: 6px;
            padding: 0 20px;
            color: orange;
            font-size: 30px;
            text-stroke: 2px black;

            >.label {
                width: 100%;
                text-align: center;
            }
        }

        .game-states-list {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            overflow: hidden;
            border-radius: 20px;
            width: 300px;
            color: white;

            .game-state {
                overflow: hidden;

                padding: 0 10px;
                height: 80px;
                background-color: orange;

                opacity: 0.1;
                font-size: 30px;
                transition: height 1s, opacity 1s;

                >.label {
                    padding: 20px 0;
                    width: 100%;

                    font-weight: bold;
                    text-align: center;
                }

                &.active {
                    opacity: 0.7;
                    font-size: 40px;
                    transition: opacity 0.7s, font-size 0.5s;
                }

                &.inactive {
                    height: 0;
                    font-size: 40px;
                }

                &.hidden {
                    height: 0;
                }
            }
        }
    }

    table {
        display: flex;
        flex-direction: column;

        tr {
            display: flex;
            flex-direction: row;

            th, td {
                label {
                    width: 100%;
                }
            }
        }
    }

    table.users-list {
        position: absolute;
        top: 50px;
        left: 50px;
        background-color: orange;
        color: white;
        font-weight: 600;

        tr {
            td, th {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            th {
                padding: 12px 0;
                font-size: 54px;
            }

            td {
                padding: 4px 0;
                font-size: 30px;
            }
            // Player name
            :nth-child(1) {
                margin-left: 8px;
                width: 500px;
            }
            // Oranges
            :nth-child(2) {
                margin-right: 8px;
                width: 200px;

                label {
                    text-align: right;
                }
            }

            td {
                border-top: 1px solid white;
            }

            &.current {
                border-top: 0;
                color: orange;
                background-color: white;
            }

            &.after-current td {
                border-top: 0;
            }
        }
    }

    .orange-bag {
        position: absolute;
        bottom: 30px;
        right: 30px;
        font-size: 70px;
        color: white;
        text-stroke: 10px black;
    }
}
